@import "compass";
@import "photoshop-gradient-overlay";

body {
  font-family: Helvetica;
  font-size: 28px;
  text-align: center;
}

%gradient-example {
  color: #fff;
  height: 300px;
  line-height: 300px;
  width: 300px;
  text-shadow: 0 0.1em rgba(0,0,0,0.4);
}

.group {
  @include clearfix();
  margin: 1em auto;

  .group-item {
    float: left;
    width: 25%;
  }
}

// Angle

.gradient--angle--0{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $angle: 0deg));
}

.gradient--angle--90{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay(#fff));
}

.gradient--angle--180{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $angle: 180deg));
}

.gradient--angle---90{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $angle: 90deg));
}

// Scale

.gradient--scale--50{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $scale: 50%));
}

.gradient--scale--75{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $scale: 75%));
}

.gradient--scale--125{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $scale: 125%));
}

.gradient--scale--150{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $scale: 150%));
}

// Stops

.gradient--stops--3{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $gradient-colors: ( red, orange, yellow ), $gradient-stops: ( 0%, 50%, 100% )));
}

.gradient--stops--4{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $gradient-colors: ( red, orange, yellow, green ), $gradient-stops: ( 0%, 33.3333%, 66.6666%, 100% )));
}

.gradient--stops--5{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $gradient-colors: ( red, orange, yellow, green, blue ), $gradient-stops: ( 0%, 25%, 50%, 75%, 100% )));
}

.gradient--stops--6{
  @extend %gradient-example;
  @include background-image(photoshop-gradient-overlay($bg-color: #fff, $gradient-colors: ( red, orange, yellow, green, blue, violet ), $gradient-stops: ( 0%, 20%, 40%, 60%, 80%, 100% )));
}