/* line 4, ../sass/screen.scss */
body {
  font-family: Helvetica;
  font-size: 28px;
  text-align: center;
}

/* line 10, ../sass/screen.scss */
.gradient--angle--0, .gradient--angle--90, .gradient--angle--180, .gradient--angle--270, .gradient--scale--50, .gradient--scale--75, .gradient--scale--125, .gradient--scale--150, .gradient--stops--3, .gradient--stops--4, .gradient--stops--5, .gradient--stops--6 {
  color: #fff;
  height: 300px;
  line-height: 300px;
  width: 300px;
  text-shadow: 0 0.1em rgba(0, 0, 0, 0.4);
}

/* line 18, ../sass/screen.scss */
.group {
  overflow: hidden;
  *zoom: 1;
  margin: 1em auto;
}
/* line 22, ../sass/screen.scss */
.group .group-item {
  float: left;
  width: 25%;
}

/* line 30, ../sass/screen.scss */
.gradient--angle--0 {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #000000 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, #000000 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #000000 0%, #ffffff 100%);
  background-image: linear-gradient(left, #000000 0%, #ffffff 100%);
}

/* line 35, ../sass/screen.scss */
.gradient--angle--90 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #ffffff 100%);
  background-image: linear-gradient(bottom, #000000 0%, #ffffff 100%);
}

/* line 40, ../sass/screen.scss */
.gradient--angle--180 {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(right, #000000 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, #000000 0%, #ffffff 100%);
  background-image: -o-linear-gradient(right, #000000 0%, #ffffff 100%);
  background-image: linear-gradient(right, #000000 0%, #ffffff 100%);
}

/* line 45, ../sass/screen.scss */
.gradient--angle--270 {
  background-image: -webkit-linear-gradient(180deg, #000000 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(180deg, #000000 0%, #ffffff 100%);
  background-image: -o-linear-gradient(180deg, #000000 0%, #ffffff 100%);
  background-image: linear-gradient(180deg, #000000 0%, #ffffff 100%);
}

/* line 52, ../sass/screen.scss */
.gradient--scale--50 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(25%, #000000), color-stop(75%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #000000 25%, #ffffff 75%);
  background-image: -moz-linear-gradient(bottom, #000000 25%, #ffffff 75%);
  background-image: -o-linear-gradient(bottom, #000000 25%, #ffffff 75%);
  background-image: linear-gradient(bottom, #000000 25%, #ffffff 75%);
}

/* line 57, ../sass/screen.scss */
.gradient--scale--75 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(12.5%, #000000), color-stop(87.5%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #000000 12.5%, #ffffff 87.5%);
  background-image: -moz-linear-gradient(bottom, #000000 12.5%, #ffffff 87.5%);
  background-image: -o-linear-gradient(bottom, #000000 12.5%, #ffffff 87.5%);
  background-image: linear-gradient(bottom, #000000 12.5%, #ffffff 87.5%);
}

/* line 62, ../sass/screen.scss */
.gradient--scale--125 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-12.5%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #000000 -12.5%, #ffffff 112.5%);
  background-image: -moz-linear-gradient(bottom, #000000 -12.5%, #ffffff 112.5%);
  background-image: -o-linear-gradient(bottom, #000000 -12.5%, #ffffff 112.5%);
  background-image: linear-gradient(bottom, #000000 -12.5%, #ffffff 112.5%);
}

/* line 67, ../sass/screen.scss */
.gradient--scale--150 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-25%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #000000 -25%, #ffffff 125%);
  background-image: -moz-linear-gradient(bottom, #000000 -25%, #ffffff 125%);
  background-image: -o-linear-gradient(bottom, #000000 -25%, #ffffff 125%);
  background-image: linear-gradient(bottom, #000000 -25%, #ffffff 125%);
}

/* line 74, ../sass/screen.scss */
.gradient--stops--3 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff0000), color-stop(50%, #ffa500), color-stop(100%, #ffff00));
  background-image: -webkit-linear-gradient(bottom, #ff0000 0%, #ffa500 50%, #ffff00 100%);
  background-image: -moz-linear-gradient(bottom, #ff0000 0%, #ffa500 50%, #ffff00 100%);
  background-image: -o-linear-gradient(bottom, #ff0000 0%, #ffa500 50%, #ffff00 100%);
  background-image: linear-gradient(bottom, #ff0000 0%, #ffa500 50%, #ffff00 100%);
}

/* line 79, ../sass/screen.scss */
.gradient--stops--4 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff0000), color-stop(33.3333%, #ffa500), color-stop(66.6666%, #ffff00), color-stop(100%, #008000));
  background-image: -webkit-linear-gradient(bottom, #ff0000 0%, #ffa500 33.3333%, #ffff00 66.6666%, #008000 100%);
  background-image: -moz-linear-gradient(bottom, #ff0000 0%, #ffa500 33.3333%, #ffff00 66.6666%, #008000 100%);
  background-image: -o-linear-gradient(bottom, #ff0000 0%, #ffa500 33.3333%, #ffff00 66.6666%, #008000 100%);
  background-image: linear-gradient(bottom, #ff0000 0%, #ffa500 33.3333%, #ffff00 66.6666%, #008000 100%);
}

/* line 84, ../sass/screen.scss */
.gradient--stops--5 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff0000), color-stop(25%, #ffa500), color-stop(50%, #ffff00), color-stop(75%, #008000), color-stop(100%, #0000ff));
  background-image: -webkit-linear-gradient(bottom, #ff0000 0%, #ffa500 25%, #ffff00 50%, #008000 75%, #0000ff 100%);
  background-image: -moz-linear-gradient(bottom, #ff0000 0%, #ffa500 25%, #ffff00 50%, #008000 75%, #0000ff 100%);
  background-image: -o-linear-gradient(bottom, #ff0000 0%, #ffa500 25%, #ffff00 50%, #008000 75%, #0000ff 100%);
  background-image: linear-gradient(bottom, #ff0000 0%, #ffa500 25%, #ffff00 50%, #008000 75%, #0000ff 100%);
}

/* line 89, ../sass/screen.scss */
.gradient--stops--6 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff0000), color-stop(20%, #ffa500), color-stop(40%, #ffff00), color-stop(60%, #008000), color-stop(80%, #0000ff), color-stop(100%, #ee82ee));
  background-image: -webkit-linear-gradient(bottom, #ff0000 0%, #ffa500 20%, #ffff00 40%, #008000 60%, #0000ff 80%, #ee82ee 100%);
  background-image: -moz-linear-gradient(bottom, #ff0000 0%, #ffa500 20%, #ffff00 40%, #008000 60%, #0000ff 80%, #ee82ee 100%);
  background-image: -o-linear-gradient(bottom, #ff0000 0%, #ffa500 20%, #ffff00 40%, #008000 60%, #0000ff 80%, #ee82ee 100%);
  background-image: linear-gradient(bottom, #ff0000 0%, #ffa500 20%, #ffff00 40%, #008000 60%, #0000ff 80%, #ee82ee 100%);
}
